[API_KEYS]
openai_api_key = sk-XXXXX
base_url = https://api.openai.com/v1/
google_api_key = google_api_key_put_here
cse_id = Google_cse_id_put_here
bing_api_key = bing_api_key_put_here
github_api_key = github_api_key_put_here
google_api_url = https://www.googleapis.com/customsearch/v1?key=google_api_key&cx=cse_id&q=
imgbb_api=
wechat_url=work_wechat_url_put_here
dingding_url=dingding_url_put_here
feishu_url=feishu_url_put_here
language=#zh_CN or en_US
fastapi_api_key=
fish_api_key= fish_api_key_put_here
fast_installed= True

[your_model_name]
base_url=
api_key=

[deepseek-chat]
base_url=https://api.deepseek.com/v1/
api_key=

[glm-4]
base_url=https://open.bigmodel.cn/api/paas/v4/
api_key=

[qwen-max]
base_url=https://dashscope.aliyuncs.com/compatible-mode/v1/
api_key=

[moonshot-v1-8k]
base_url=https://api.moonshot.cn/v1/
api_key=

[general]
base_url=https://spark-api-open.xf-yun.com/v1/
api_key=

[doubao_YOUR_ENDPOINT_ID]
base_url=https://ark.cn-beijing.volces.com/api/v3/
api_key=

[your_ollama_model_name]
base_url=http://127.0.0.1:11434/v1/
api_key=ollama

[your_azure_openai_model_name]
base_url=https://YOUR_RESOURCE_NAME.openai.azure.com/openai/deployments/YOUR_DEPLOYMENT_NAME/chat/completions?api-version=2024-06-01
api_key=

[grok-beta]
base_url=https://api.x.ai/v1/
api_key=

[gemini-1.5-flash]
base_url=https://generativelanguage.googleapis.com/v1beta/
api_key=