beautifulsoup4
docx2txt
langchain
langchain_community
langchain_text_splitters
openai
openpyxl
pandas
pytz
Requests
xlrd
faiss-cpu
websocket-client
streamlit
virtualenv
tiktoken
transformers
transformers_stream_generator
optimum
pdfplumber
wikipedia
arxiv
bitsandbytes
accelerate
fastapi
py-cpuinfo
diskcache
requests_toolbelt
tabulate
charset_normalizer
tenacity
cpm_kernels
pydub
keyboard
sounddevice
neo4j
soundfile
langchain_openai
sentence_transformers
uvicorn
google.generativeai
llama_index
html2image
markdown
selenium
librosa
ffmpeg-python
moviepy
html5lib
easyocr
feedparser
psutil
verovio
mdtex2html