beautifulsoup4
docx2txt
langchain
langchain_community
langchain_text_splitters
openai>=1.57.4
openpyxl
pandas
pytz
Requests
xlrd
faiss-cpu
websocket-client
streamlit
virtualenv
tiktoken
transformers>=4.41.1
transformers_stream_generator
optimum
pdfplumber
wikipedia
arxiv
bitsandbytes==0.43.1
accelerate==0.30.1
fastapi
py-cpuinfo
diskcache
requests_toolbelt
tabulate
charset_normalizer
tenacity>=8.1.0,<8.4.0
cpm_kernels
pydub
keyboard
sounddevice
neo4j
soundfile
langchain_openai
sentence_transformers
uvicorn
llama_index
html2image
markdown
selenium
librosa
ffmpeg-python
moviepy==1.0.3
html5lib
easyocr
feedparser
psutil
verovio
mdtex2html
markdownify
srt
peft
scipy
json-repair
redis
aisuite[all]
fish_audio_sdk
httpx<=0.27.2
mcp
qwen-vl-utils[decord]
attrdict
docstring_parser
langchain_ollama
timm