beautifulsoup4
docx2txt
langchain
langchain_community
langchain_text_splitters
openai
openpyxl
pandas
pytz
Requests
xlrd
faiss-cpu
websocket-client
streamlit
virtualenv
tiktoken
transformers>=4.41.1
transformers_stream_generator
optimum
pdfplumber
wikipedia
arxiv
bitsandbytes==0.43.1
accelerate==0.30.1
fastapi
py-cpuinfo
diskcache
requests_toolbelt
tabulate
chardet
tenacity>=8.1.0,<8.4.0
cpm_kernels
pydub
keyboard
sounddevice
scipy
gradio_client
neo4j
ChatTTS
soundfile
jax
ffmpeg; sys_platform == 'linux'
langchain_openai
sentence_transformers
uvicorn